<div class="container">
    <div>
        <h2>Modifier un TvShow :</h2>
    </div>
    <form>
        <div  class="col-sm-2 col-md-2 col-lg-2">
            <label>ID TvShow</label>
            <input readonly type="text" [(ngModel)]="currentTvShow.idTvShow" name="idTvShow" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Nom TvShow</label>
            <input type="text" [(ngModel)]="currentTvShow.nomTvShow" name="nomTvShow" class="form-control">
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label>saison </label>
            <input type="number" [(ngModel)]="currentTvShow.saisonTvShow" name="saisonTvShow" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Date création</label>
            <input type="date" [ngModel]="currentTvShow.dateCreation | date: 'yyyy-MM-dd'" 
            (ngModelChange)=" currentTvShow.dateCreation= $event" name="dateCreation"  class="form-control">
        </div>

         <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Genre</label>
            <select class="form-control form-control-lg" id="idGenre" name="idGenre" [(ngModel)]="updatedGenreId">
                <option *ngFor="let genre of genres" [value]="genre.idGenre">
                    {{genre.nomGenre}}
                </option>  
            </select>
        </div> 

        <div class="mt-2">
            <button type="submit" (click)="updateTvShow()" class="btn btn-success">Modifer</button>
        </div>
    </form>
</div>